body {
    background-color: darkgreen;
    color: white;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h1, h2, h3, h4 {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}
ul {
    list-style-type: disc;
    padding-left: 20px;
    color: black;
}
p {
    margin: 0 0 20px;
    color: black;
}
p, ul {
    font-size: 1.20em;
}
.image-container {
    overflow: hidden;
    width: 85%;
    margin: 20px auto;
}
.image-container img {
    max-width: 100%;
    transition: transform 0.3s ease;
}
.image-container.centered {
    margin-left: auto;
    margin-right: auto;
}
.image-container.left {
    margin-left: 0;
    margin-right: auto;
}
.image-container.right {
    margin-left: auto;
    margin-right: 0;
}
.image-container.centered img.shrink {
    transform: scale(0.5);
}
.image-container img.enlarged {
    transform: scale(1.15);
}
.btn-accept, .btn-foot, .btn-scientific {
    background-color: darkgreen;
    color: white;
    width: 125px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 5px 0;
    border-radius: 5px;
    text-align: center;
}
.btn-accept:hover, .btn-foot:hover, .btn-scientific:hover {
    background-color: green;
}
.btn-discover {
    background-color: darkgreen;
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
    margin-top: 10px;
    border: 3px solid white;
    border-radius: 5px;
}
.btn-discover:hover {
    background-color: green;
}
.contact-list {
    list-style-type: none;
    padding: 0;
}
.contact-list li {
    display: inline;
    margin-right: 10px;
}
footer {
    text-align: center;
    width: 70%;
    padding: 20px;
    background-color: #333;
    color: white;
    margin: 20px auto;
    border-radius: 5px;
    p,h1 {
        margin: 0 0 20px;
        color: white;
    }
    .footer-img {
        width: 400px;
        margin: 20px auto;
    }
}
.cookie-banner {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25vh;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
    text-align: center;
    padding: 15px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cookie-banner .content {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cookie-banner p {
    margin: 0 0 10px;
    color: white;
}
.cookie-banner a {
    color: green;
    text-decoration: underline;
}
.cookie-banner .btn-accept {
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.cookie-banner .btn-accept:hover {
    background-color: green;
}
.banner {
    width: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 1);
    padding: 25px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    border-bottom: 1px solid #ccc;
    transition: padding 0.3s ease;
}
.banner.small-header {
    padding: 10px 0;
}
.banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner img {
    width: 400px;
    transition: width 0.3s ease;
    transform-origin: center;
    opacity: 1;
}
.banner img.shrink {
    width: 200px;
}
.banner img.enlarged {
    width: 260px;
}
main {
    flex: 1;
    margin-top: 175px;
}
.content-wrapper {
    width: 70%;
    margin: 20px auto;
    text-align: left;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.content-wrapper-gray {
    width: 70%;
    margin: 20px auto;
    text-align: left;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
footer .image-container {
    width: 400px;
    margin: 20px auto;
}
.btn-scientific {
    background-color: darkgreen;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 5px 10px;
    text-align: center;
    border-radius: 5px;
}
.btn-scientific:hover {
    background-color: green;
}
.btn-container {
    text-align: center;
}
.section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.section.visible {
    opacity: 1;
    transform: translateY(0);
}
.intro-text {
    opacity: 1;
    transition: opacity 0.6s ease-out;
    text-align: center;
    color: white;
    background-color: darkgreen;
    padding: 20px;
    border-radius: 5px;
}
.intro-text.hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.6s ease-out, height 0.6s ease-out;
}
.hidden {
    display: none;
}
.enlarged-fullscreen-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    cursor: pointer;
}
.enlarged-fullscreen {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.enlarged {
    transform: scale(1.15);
    transition: transform 0.3s ease;
}
.key-benefits {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.key-benefits > div {
    flex: 1;
    min-width: 300px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}
.image-container.left {
    margin-left: 0;
    margin-right: auto;
}
.image-container.right {
    margin-left: auto;
    margin-right: 0;
}
@media (max-width: 768px) {
    .content-wrapper, .content-wrapper-gray, footer {
        width: 90%;
    }
    footer .image-container {
        width: 200px;
        margin: 20px auto;
    }
    p, ul {
        max-width: 100%;
        font-size: 14px;
    }
    h1, h2, h3, h4 {
        font-size: 20px;
    }
    .image-container {
        width: 100%;
    }
    .btn-discover {
        font-size: 16px;
    }
    .banner img {
        width: 350px;
    }
    .key-benefits {
        flex-direction: column;
        gap: 10px;
    }
    .key-benefits > div {
        min-width: 100%;
        padding: 10px;
    }
}
