/*
COlors

55917F = darkgreen
1D3461 = royal blue
BFDBF7 = light blue
C7F2A7 = light green
26547C = dark blue
#26292A =dimgrey
#FFFAFA = snow
#546A7B =dark electric blue
#F5F5F5 = white smoke
#62929E = steel teal

*{
  color: blue;
}

h1 {
  color: green;
}

#Name{
  background-color: black;
  font-size: 60px;
}

*/



/* GLobal styles -------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  color: #26292A;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  line-height: 150%;
  max-width:100%;
  margin-left:0;

}


img {
  width: 300px;
}

a {
  color: #F5F5F5;
}

a:hover {
  text-decoration: none;
}

h1{
  font-size: 40px;
  line-height: 0.9;
}
h2 {
  font-size: 25px;
  line-height: 1;
}
h1, h2 {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
}

.content_wrap {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

h3 {
  margin-bottom: 0;
}

.item-details h3+p{
  font-style:italic;
}

.item-details h3 ~ p {
  margin: 0;
}


/* responsive styles -------------------------*/

@media only screen and (min-width: 550px)
{

  .projectitem img {
    float: left;
    margin-right: 20px;
  }
  .edu-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;

  }
  .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
    .job-detail {
      margin: 0px 0px 0px 15px;
    }
    .edu-detail {
      margin: 0px 0px 0px 15px;
    }
    .projects h2 + p {
      margin: 5px 0px 0px 15px;
    }
    .res-item {
      margin: 0px 0px 0px 15px;
    }

}

@media screen and (max-width: 665px)
{


  #profile_pic {
    width: 150px;
  }

  #Name{
    font-size: 30px;
  }

  .projects img {
    width: 155px;
  }

}

/*@media screen and (min-width: 451) and (max-width: 700px)
{
  #Name{
    font-size: 25px;
  }
}*/
/* Profile -------------------------*/

header{
  background: #26292A;
  margin: 0;
}
#profile_pic {

  float: right;
  padding: 0 0 0 10px;
  margin: 95px auto 10px auto;
  border-radius: 5px;
}
#intro{
/*  background: #1D3461;*/
  color: #FFFAFA;
  /*padding: 5px;
  border: 5px;
  border-radius: 5px; */
  margin: 95px 0px 0px 0px;
}


#Name {
  width: 100%;
  text-align: center;
  color: #26292A;
  background: rgba(255, 250, 250, 95%);
  padding: 25px 15px 15px 15px;
/*border: 5px solid #FFFAFA;
  border-radius: 5px;*/
  margin: 0;
  position: fixed;

}

#intro_text {
    color: #FFFAFA;
    /*background: #1D3461;*/
    font-weight: lighter;
    font-size: 14px;
    font-style: normal;
    /*border-radius: 5px;*/
    margin: 10px 0px 0px 15px;
  }

/* Projects -------------------------*/
.projects {
  background: #F5F5F5;
  color: #26292A;
}

.projects img {
  width: 250px;
}

.projects a {
  color: #2F3061;
}
.projects .btn {
  color: black;
  background: white;
  text-decoration: none;
  padding: 10px;
  border: 2px solid black;
  border-radius: 2px;
  display: inline-block;
}
.projects .btn:hover {
  background: rgb(153, 215, 231);
}
.projectitem {
  overflow: hidden;

}

.projectitem h3 {
  margin-top: 0;
}

.projects .divider > section{
  border-bottom: 1px dashed #26292A;
  padding: 15px 0;
}
.projects .divider > section:last-of-type {
  border-bottom: none;
}
/*BANTHO Image-------------------------*/

.BANTHOimage {
  background: rgb(0, 0, 0);
  color: #BFDBF7;
  padding-top: 0;
  padding-bottom: 0;
}
.BANTHOimage img {
  max-width: 800px;
  width: 100%;
}

/*BANTHO -------------------------*/
.BANTHO {
  background: #000000;
  color: #FFFAFA;
}

#BANTHO_text {
  color: #FFFAFA;
  /*background: #1D3461;*/
  font-weight: lighter;
  font-size: 15px;
  font-style: normal;
  /*border-radius: 5px;*/
  margin: 10px 0px 0px 15px;
}
/*BANTHO Button -------------------------*/
.BANTHObutton
{
  background: #FF6400;
  color: #FFFAFA;
  text-align: center;
  padding-top: 4%;
  padding-bottom: 4%;
  
}
 .BANTHObutton .btn_bantho {
  color: black;
  background: white;
  text-decoration: none;
  font-size: 15px;
  padding: 10px;
  height: 65px;
  width: 300px;
  border: 3px solid black;
  border-radius: 3px;
} 

.btn_bantho:hover {
  background: rgb(153, 215, 231);
}

/* WOrk Experience -------------------------*/
.work {
  background: #546A7B;
  color: #FFFAFA;
}

.work .divider > section{
  border-bottom: 1px dashed #FFFAFA;
  padding: 15px 0;
}
.work .divider > section:last-of-type {
  border-bottom: none;
}


/*Education -------------------------*/
.education {
  background: #F5F5F5;
  color: #26292A;
}

.education .divider > section{
  border-bottom: 1px dashed #26292A;
  padding: 15px 0;
}
.education .divider > section:last-of-type {
  border-bottom: none;
}

/*Research Image-------------------------*/

.researchimage {
  background: white;
  color: #BFDBF7;
  padding-top: 0;
  padding-bottom: 0;
}
.researchimage img {
  max-width: 800px;
  width: 100%;
}

/*Research -------------------------*/
.research {
  background: #62929E;
  color: #F5F5F5;
}
.research .divider > section{
  border-bottom: 1px dashed #F5F5F5;
  padding: 15px 0;
}
.research .divider > section:last-of-type {
  border-bottom: none;
}



/* Contact -------------------------*/


footer {
  background: #55917F;
  color: #BFDBF7;
  text-align: center;
  padding-top: 20%;
  padding-bottom: 15%;
}
footer {
  background-image: url(../Images/Munich_mist_v2_crop.png);
  background-size: cover;
}
.contact-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
.contact-list .btn-foot{
  margin: 10px;
}
footer .btn-foot {
  background: rgb(10, 10, 10);
  color: #F5F5F5;
  text-decoration: none;
  padding: 12px;
  border: 2px solid #F5F5F5;
  border-radius: 2px;
  /*display: inline-block;*/
}
footer .btn-foot:hover{
  background: rgba(98, 146, 158, 70%);
}

footer h2 {
  background: rgba(10, 10, 10, .5);
  color: #F5F5F5;
  padding-top: 12px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

footer #Imprint {
  color: #26292A;
  margin-top: 45px;

}


  }
}
